# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*/**/yarn.lock
yarn-error.log
npm-debug.log
report*.json

# Node modules
node_modules/

# Dists
dist/*
dist-esm/*
dist-es6/*
**/dist/*

# Generatred
coverage/
.nyc_output/
.docusaurus

# typescript
tsconfig.tsbuildinfo

# editor files
.project
.DS_Store
.idea
*.zip
*.rar

